@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Manrope:wght@800&display=swap');

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  transition: 300ms;
}

.main {
  position: relative;
}

.hero {
  background-image: url(./assets/bg-desktop-light.jpg);
  background-size: cover;
  height: 20rem;
}

.hero.darktrue {
  background-image: url(src/assets/bg-desktop-dark.jpg);
}

.content {
  position: absolute;
  z-index: 99;
  top: 10%;
  left: 35%;
  width: clamp(1rem, 100vw, 33rem);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 300ms;
}

h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 1rem;
}

form {
  position: relative;
  transition: 300ms;
}

input {
  width: 88.6%;
  height: 4rem;
  font-size: 1rem;
  padding-left: 4.8rem;
  padding-right: 0px;
  border: transparent;
  margin-bottom: 1rem;
  border-radius: 4px;
  transition: 300ms;

}

input.darktrue {
  background-color: hsl(235, 24%, 19%);
  color: white;
}

.inputButton {
  position: absolute;
  left: 3.3%;
  top: 25%;
  background-color: black;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: solid 1px hsl(0, 0%, 83%);
  background-color: hsl(236, 33%, 99%);
}

.inputButton.darktrue {
  background-color: transparent;
  border: solid 1px hsl(237, 14%, 26%);
}

.list {
  box-shadow: 0px 70px 100px 10px rgb(221, 221, 221);
  background-color: white;
  margin: 0px;
  width: 103%;
  border-radius: 10px;
}

.list.darktrue {
  background-color: hsl(235, 24%, 19%);
}

.listCircle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  border: solid 1px hsl(0, 0%, 85%);
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.listCircle.darktrue {
  border: solid 1px hsl(237, 14%, 26%);
  transition: 300ms;
}

.completedCircletrue {
  background-image: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  transition: 300ms;
}

.listCircle > img {
  width: 50%;
  transition: 300ms;
}

.listItem {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  background-color: rgb(255, 255, 255);
  width: 97%;
  height: 4rem;
  border-bottom: solid 1px hsl(236, 33%, 90%);
  padding: 0px;
  padding-left: 1rem;
  color: hsl(235, 19%, 35%);
  font-size: 1.1rem;
  cursor: pointer;
  transition: 300ms;
}

.listItem.darktrue {
  background-color: hsl(235, 24%, 19%);
  border-bottom: solid 1px  hsl(237, 14%, 26%);
  color: hsl(234, 39%, 85%);
}

.deleteBtn {
  background: transparent;
  border: none;
  margin-left: auto;
  margin-right: 1rem;
  opacity: 0;
  transition: 400ms;
}

.deleteBtn > img {
  width: 1.1rem;
}

.listItem:hover .deleteBtn {
  opacity: 1;
}

.completedtrue {
  text-decoration: line-through;
  color: rgb(175, 175, 175);
}

.completedtrue.darktrue {
  color: hsl(234, 11%, 52%);
}

.info {
  background-color: white;
  width: 92.3%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  gap: 2rem;
  transition: 300ms;
}

.info.darktrue {
  background-color: hsl(235, 24%, 19%);
}

.info > p {
  color: hsl(236, 33%, 70%);
  transition: 300ms;
}

.interactions {
  display: flex;
  gap: 0.2rem;
  margin-left: 2.2rem;
  transition: 300ms;
}

.interactions.darktrue {
  background-color: hsl(235, 24%, 19%);

}

.interactions > button {
  background-color: transparent;
  border: none;
  color: hsl(236, 33%, 70%);
  font-size: 0.9rem;
  font-weight: 700;
  transition: 300ms;
}

button:hover {
  color: hsl(220, 98%, 61%);
}

button.darktrue:hover {
  color: white;
}

.clearComp {
  margin-left: 0.8rem;
  background-color: transparent;
  border: none;
  color: hsl(236, 33%, 70%);
  font-size: 0.9rem;
  font-weight: 500;
  transition: 300ms;
} 

button {
  cursor: pointer;
}